<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />

    <!-- 변수값 설정 -->
    <property name="LOGS_PATH" value="/logs"/>
    <property name="LOGS_LEVEL" value="INFO"/>

    <!-- Console Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%red([%thread]) %clr(%-5level) %clr(%d{yy-MM-dd HH:mm:ss}){green} %clr([%logger{0}-%M:%line]){cyan} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 파일명과 경로 설정 -->
        <file>${LOGS_PATH}/log_file.log</file>
        <!-- 출력 패턴 설정 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-5level %d{yy-MM-dd HH:mm:ss} [%logger{0}-%M:%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- rolling(백업) 파일 저장 위치 -->
            <fileNamePattern>${LOGS_PATH}/%d{yyyy-MM-dd}_%i.log.gz</fileNamePattern>
            <!-- 로그 파일이 10MB 넘으면 백업하고 새로운 파일 생성 -->
            <maxFileSize>10MB</maxFileSize>
            <!-- 백업 로그 파일은 7일 이후 삭제 -->
            <maxHistory>7</maxHistory>
            <!-- 로그 파일과 백업 로그 파일의 최대 크기는 100MB -->
            <!-- 초과 시 가장 오래된 백업 파일부터 삭제 -->
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
    </appender>


    <!-- 전역 설정 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="${LOGS_LEVEL}">
        <appender-ref ref="File"/>
    </root>

</configuration>